body {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: rgba(108, 248, 120, 0.747);
}

.Main-Square{
    width: 400px;
    margin:auto;
}

.title{
    text-align: center;
    margin-top:100px;
    font-size: 50px;;
}

.footer{    
    text-align: center;
    margin-top:100px;
    font-size: 15px;
}

.letter{
    background-color: white;
    box-sizing: border-box;
    margin:10px;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    width:120px;
    height: 120px;
    font-size: 60px;
    font-weight: bold;
    border: 5px solid black;
}

.buttonHover{
    /*The scale below was copied from JavaScript 30 days project */
    transform: scale(1.1);
    background-color: rgb(240, 93, 93);
    box-sizing: border-box;
    margin:10px;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    width:120px;
    height: 120px;
    font-size: 60px;
    font-weight: bold;
    border: 5px solid black;
}



.letter:hover{
    background-color: rgb(241, 253, 128);
}

.line1, .line2, .line3 {
    justify-content:space-between; 
    display:flex;
}